<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/posts"><h1>博客标题</h1></a>
      <p>博客描述</p>
    </div>
  </div>
</div>