<%- include('header') %>
<div id="zan-bodyer">
	<div class="container">
		<div class="row">
			<div id="mainstay" class="col-md-8">
				
				<div id="ie-warning" class="alert alert-danger fade in">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<i class="fa fa-warning"></i> 请注意，Zanblog并不支持低于IE8的浏览器，为了获得最佳效果，请下载最新的浏览器，推荐下载 <i class="fa fa-compass"></i> Chrome浏览器
				</div>

				<!-- 后台可配置公告 -->
									<div class="well fade in">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						欢迎来到由 <a target="_blank" href="#">Jason Ma</a>  <strong></strong>搭建的个人blog,此博哥会记录鄙人的职业，生活点滴 <i class="fa fa-smile-o"></i>					</div>
								<!-- 公告结束 -->
				
				<!-- 广告 -->
			    			    <!-- 广告结束 -->

				<!-- 幻灯片-->
				<aside id="metaslider_widget-3">
<!-- meta slider -->
<div style="max-width: 750px;" class="metaslider metaslider-flex metaslider-411 ml-slider">
    <style type="text/css">
        @import url('http://www.yeahzan.com/zanblog/wp-content/plugins/ml-slider/assets/metaslider/public.css?ver=2.3');
        @import url('http://www.yeahzan.com/zanblog/wp-content/plugins/ml-slider/assets/sliders/flexslider/flexslider.css?ver=2.3');
    </style>
    <div id="metaslider_container_411">
        <div id="metaslider_411" class="flexslider">
            <ul class="slides">
                <li style="display: none;"><a href="http://blog.zanwp.com/" target="_self"><img src="http://www.yeahzan.com/zanblog/wp-content/uploads/2014/07/zanblog3.jpg" height="300" width="750" class="slider-411 slide-845" /></a></li>
                <li style="display: none;"><a href="http://www.yeahzan.com/zanblog/archives/763.html" target="_self"><img src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/12/banner_207.jpg" height="300" width="750" class="slider-411 slide-777" /></a></li>
                <li style="display: none;"><a href="http://www.yeahzan.com/zanblog/archives/538.html" target="_self"><img src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/banner_zanui.jpg" height="300" width="750" class="slider-411 slide-550" /></a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var metaslider_411 = function($) {
            $('#metaslider_411').flexslider({ 
                slideshowSpeed:3000,
                animation:"slide",
                controlNav:false,
                directionNav:true,
                pauseOnHover:true,
                direction:"vertical",
                reverse:false,
                animationSpeed:600,
                prevText:"<",
                nextText:">",
                easing:"easeOutExpo",
                slideshow:true,
                useCSS:false
            });
        };
        var timer_metaslider_411 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_411, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_411, 100) : metaslider_411(window.jQuery);
        };
        timer_metaslider_411();
    </script>
</div>
<!--// meta slider--></aside> 
				<!-- 幻灯片结束-->

				<!-- 内容主体 -->
				<div id="article-list">
											<div class="article well clearfix">
	<i class="fa fa-bookmark article-stick visible-md visible-lg"></i>	
	<div class="data-article hidden-xs">
		<span class="month">9月</span>
		<span class="day">13</span>
	</div>

	<!-- 大型设备文章属性 -->
	<section class="hidden-xs">
		<div class="title-article">
			<h1><a href="http://www.yeahzan.com/zanblog/archives/856.html">
				Zanblog 更新至V2.1.0			</a></h1>
		</div>
		<div class="tag-article">
			<span class="label label-zan"><i class="fa fa-tags"></i> <a href="http://www.yeahzan.com/zanblog/archives/category/zanblog" rel="category tag">Zanblog</a></span>
			<span class="label label-zan"><i class="fa fa-user"></i> <a href="http://www.yeahzan.com/zanblog/archives/author/yeahzan" title="由佚站互联发布" rel="author">佚站互联</a></span>
			<span class="label label-zan"><i class="fa fa-eye"></i> 18,452</span>
		</div>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/856.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_5.jpg" class="attachment-full wp-post-image" alt="car_5" /></a></figure>							
			<div class="alert alert-zan">				
				HI，赞友们，在两个月前我们推出了ZanBlog3主题，但还是有一部分用户喜欢Zanblog2的样式，所以在V2.0.7发布8个多月之后，再次更新Zanblog2。
现在让我们一起看看 V2.1.0 所做的变动吧！

注：使用Zanblog2之前版本的用户需要注意，插件、侧边栏、主题选项、页面模版...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more" href="http://www.yeahzan.com/zanblog/archives/856.html"  title="详细阅读 Zanblog 更新至V2.1.0">阅读全文 <span class="badge">6</span></a>
	</section>
	<!-- 大型设备文章属性结束 -->

	<!-- 小型设备文章属性 -->
	<section class="visible-xs">
		<div class="title-article">
			<h4><a href="http://www.yeahzan.com/zanblog/archives/856.html">Zanblog 更新至V2.1.0</a></h4>
		</div>
		<p>
			<i class="fa fa-calendar"></i> 9-13			<i class="fa fa-eye"></i> 18,452		</p>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/856.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_5.jpg" class="attachment-full wp-post-image" alt="car_5" /></a></figure>							
			<div class="alert alert-zan">					
				HI，赞友们，在两个月前我们推出了ZanBlog3主题，但还是有一部分用户喜欢Zanblog2的样式，所以在V2.0.7发布8个多月之后，再次更新Zanblog2。
现在让我们一起...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more btn-block" href="http://www.yeahzan.com/zanblog/archives/856.html"  title="详细阅读 Zanblog 更新至V2.1.0">阅读全文 <span class="badge">6</span></a>
	</section>
	<!-- 小型设备文章属性结束 -->

</div>

											<div class="article well clearfix">
	<i class="fa fa-bookmark article-stick visible-md visible-lg"></i>	
	<div class="data-article hidden-xs">
		<span class="month">7月</span>
		<span class="day">11</span>
	</div>

	<!-- 大型设备文章属性 -->
	<section class="hidden-xs">
		<div class="title-article">
			<h1><a href="http://www.yeahzan.com/zanblog/archives/843.html">
				ZanBlog3.0.0 正式发布！			</a></h1>
		</div>
		<div class="tag-article">
			<span class="label label-zan"><i class="fa fa-tags"></i> <a href="http://www.yeahzan.com/zanblog/archives/category/bootstrap" rel="category tag">Bootstrap3</a>,<a href="http://www.yeahzan.com/zanblog/archives/category/zanblog" rel="category tag">Zanblog</a></span>
			<span class="label label-zan"><i class="fa fa-user"></i> <a href="http://www.yeahzan.com/zanblog/archives/author/yeahzan" title="由佚站互联发布" rel="author">佚站互联</a></span>
			<span class="label label-zan"><i class="fa fa-eye"></i> 25,579</span>
		</div>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/843.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2014/07/zanblog3.jpg" class="attachment-full wp-post-image" alt="zanblog3" /></a></figure>							
			<div class="alert alert-zan">				
				伴随着炎炎夏日和世界杯如火如荼 地进行，由佚站互联团队开发的ZanBlog3主题正式发布，非常抱歉这个主题拖延了这么久才发布（我们不会告诉你是因为世界杯的原因），不过相信看过这个主题之后，你们一定会爱上它，让我们看看ZanBlog3究竟带来了怎样的惊喜吧！
全新设...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more" href="http://www.yeahzan.com/zanblog/archives/843.html"  title="详细阅读 ZanBlog3.0.0 正式发布！">阅读全文 <span class="badge">21</span></a>
	</section>
	<!-- 大型设备文章属性结束 -->

	<!-- 小型设备文章属性 -->
	<section class="visible-xs">
		<div class="title-article">
			<h4><a href="http://www.yeahzan.com/zanblog/archives/843.html">ZanBlog3.0.0 正式发布！</a></h4>
		</div>
		<p>
			<i class="fa fa-calendar"></i> 7-11			<i class="fa fa-eye"></i> 25,579		</p>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/843.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2014/07/zanblog3.jpg" class="attachment-full wp-post-image" alt="zanblog3" /></a></figure>							
			<div class="alert alert-zan">					
				伴随着炎炎夏日和世界杯如火如荼 地进行，由佚站互联团队开发的ZanBlog3主题正式发布，非常抱歉这个主题拖延了这么久才发布（我们不会告诉你是因为世界杯的原...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more btn-block" href="http://www.yeahzan.com/zanblog/archives/843.html"  title="详细阅读 ZanBlog3.0.0 正式发布！">阅读全文 <span class="badge">21</span></a>
	</section>
	<!-- 小型设备文章属性结束 -->

</div>

											<div class="article well clearfix">
		
	<div class="data-article hidden-xs">
		<span class="month">12月</span>
		<span class="day">31</span>
	</div>

	<!-- 大型设备文章属性 -->
	<section class="hidden-xs">
		<div class="title-article">
			<h1><a href="http://www.yeahzan.com/zanblog/archives/763.html">
				Zanblog 2.0.7（稳定版）更新			</a></h1>
		</div>
		<div class="tag-article">
			<span class="label label-zan"><i class="fa fa-tags"></i> <a href="http://www.yeahzan.com/zanblog/archives/category/zanblog" rel="category tag">Zanblog</a></span>
			<span class="label label-zan"><i class="fa fa-user"></i> <a href="http://www.yeahzan.com/zanblog/archives/author/yeahzan" title="由佚站互联发布" rel="author">佚站互联</a></span>
			<span class="label label-zan"><i class="fa fa-eye"></i> 56,641</span>
		</div>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/763.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_10.jpg" class="attachment-full wp-post-image" alt="car_10" /></a></figure>							
			<div class="alert alert-zan">				
				HI，赞友们，Zanblog在2个月之后终于又迎来了更新，此前因为我们自身工作比较忙的缘故，迟迟未推出新版本，非常抱歉。
让我们一起看看 2.0.7 稳定版所做的变动吧！

在Zanblog 2.0.7 稳定版中，我们分成了完整主题安装包(Zanblog2.0.7.zip)以及补丁安装包(patch2.0.7...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more" href="http://www.yeahzan.com/zanblog/archives/763.html"  title="详细阅读 Zanblog 2.0.7（稳定版）更新">阅读全文 <span class="badge">228</span></a>
	</section>
	<!-- 大型设备文章属性结束 -->

	<!-- 小型设备文章属性 -->
	<section class="visible-xs">
		<div class="title-article">
			<h4><a href="http://www.yeahzan.com/zanblog/archives/763.html">Zanblog 2.0.7（稳定版）更新</a></h4>
		</div>
		<p>
			<i class="fa fa-calendar"></i> 12-31			<i class="fa fa-eye"></i> 56,641		</p>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/763.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_10.jpg" class="attachment-full wp-post-image" alt="car_10" /></a></figure>							
			<div class="alert alert-zan">					
				HI，赞友们，Zanblog在2个月之后终于又迎来了更新，此前因为我们自身工作比较忙的缘故，迟迟未推出新版本，非常抱歉。
让我们一起看看 2.0.7 稳定版所做的变...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more btn-block" href="http://www.yeahzan.com/zanblog/archives/763.html"  title="详细阅读 Zanblog 2.0.7（稳定版）更新">阅读全文 <span class="badge">228</span></a>
	</section>
	<!-- 小型设备文章属性结束 -->

</div>

											<div class="article well clearfix">
		
	<div class="data-article hidden-xs">
		<span class="month">10月</span>
		<span class="day">30</span>
	</div>

	<!-- 大型设备文章属性 -->
	<section class="hidden-xs">
		<div class="title-article">
			<h1><a href="http://www.yeahzan.com/zanblog/archives/685.html">
				Zanblog 2.0.6 版本更新			</a></h1>
		</div>
		<div class="tag-article">
			<span class="label label-zan"><i class="fa fa-tags"></i> <a href="http://www.yeahzan.com/zanblog/archives/category/zanblog" rel="category tag">Zanblog</a></span>
			<span class="label label-zan"><i class="fa fa-user"></i> <a href="http://www.yeahzan.com/zanblog/archives/author/yeahzan" title="由佚站互联发布" rel="author">佚站互联</a></span>
			<span class="label label-zan"><i class="fa fa-eye"></i> 17,179</span>
		</div>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/685.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_3.jpg" class="attachment-full wp-post-image" alt="car_3" /></a></figure>							
			<div class="alert alert-zan">				
				HI，Zanblog再次更新了。
我们希望Zanblog能够满足大多数朋友对于博客的需求，所以我们会尽可能根据大家的反馈再对主题进行修改。让我们一起看看 2.0.6 版本所做的变动吧！
1.加入相关文章模块
2.添加文章上一篇、下一篇的功能
3.将fontawesome图标更新为最新版本4.0...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more" href="http://www.yeahzan.com/zanblog/archives/685.html"  title="详细阅读 Zanblog 2.0.6 版本更新">阅读全文 <span class="badge">117</span></a>
	</section>
	<!-- 大型设备文章属性结束 -->

	<!-- 小型设备文章属性 -->
	<section class="visible-xs">
		<div class="title-article">
			<h4><a href="http://www.yeahzan.com/zanblog/archives/685.html">Zanblog 2.0.6 版本更新</a></h4>
		</div>
		<p>
			<i class="fa fa-calendar"></i> 10-30			<i class="fa fa-eye"></i> 17,179		</p>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/685.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_3.jpg" class="attachment-full wp-post-image" alt="car_3" /></a></figure>							
			<div class="alert alert-zan">					
				HI，Zanblog再次更新了。
我们希望Zanblog能够满足大多数朋友对于博客的需求，所以我们会尽可能根据大家的反馈再对主题进行修改。让我们一起看看 2.0.6 版本...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more btn-block" href="http://www.yeahzan.com/zanblog/archives/685.html"  title="详细阅读 Zanblog 2.0.6 版本更新">阅读全文 <span class="badge">117</span></a>
	</section>
	<!-- 小型设备文章属性结束 -->

</div>

											<div class="article well clearfix">
		
	<div class="data-article hidden-xs">
		<span class="month">10月</span>
		<span class="day">16</span>
	</div>

	<!-- 大型设备文章属性 -->
	<section class="hidden-xs">
		<div class="title-article">
			<h1><a href="http://www.yeahzan.com/zanblog/archives/618.html">
				Zanblog 2.0.5 版本更新			</a></h1>
		</div>
		<div class="tag-article">
			<span class="label label-zan"><i class="fa fa-tags"></i> <a href="http://www.yeahzan.com/zanblog/archives/category/zanblog" rel="category tag">Zanblog</a></span>
			<span class="label label-zan"><i class="fa fa-user"></i> <a href="http://www.yeahzan.com/zanblog/archives/author/yeahzan" title="由佚站互联发布" rel="author">佚站互联</a></span>
			<span class="label label-zan"><i class="fa fa-eye"></i> 8,863</span>
		</div>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/618.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_8.jpg" class="attachment-full wp-post-image" alt="car_8" /></a></figure>							
			<div class="alert alert-zan">				
				HI，Zanblog再次更新了。
我们希望Zanblog能够满足大多数朋友对于博客的需求，所以我们会尽可能根据大家的反馈再对主题进行修改。让我们一起看看 2.0.5 版本所做的变动吧！
1、加入文章存档，可以方便访客查看网站上的所有文章。
2、不再需要安装Link Manager插件来...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more" href="http://www.yeahzan.com/zanblog/archives/618.html"  title="详细阅读 Zanblog 2.0.5 版本更新">阅读全文 <span class="badge">45</span></a>
	</section>
	<!-- 大型设备文章属性结束 -->

	<!-- 小型设备文章属性 -->
	<section class="visible-xs">
		<div class="title-article">
			<h4><a href="http://www.yeahzan.com/zanblog/archives/618.html">Zanblog 2.0.5 版本更新</a></h4>
		</div>
		<p>
			<i class="fa fa-calendar"></i> 10-16			<i class="fa fa-eye"></i> 8,863		</p>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/618.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_8.jpg" class="attachment-full wp-post-image" alt="car_8" /></a></figure>							
			<div class="alert alert-zan">					
				HI，Zanblog再次更新了。
我们希望Zanblog能够满足大多数朋友对于博客的需求，所以我们会尽可能根据大家的反馈再对主题进行修改。让我们一起看看 2.0.5 版本...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more btn-block" href="http://www.yeahzan.com/zanblog/archives/618.html"  title="详细阅读 Zanblog 2.0.5 版本更新">阅读全文 <span class="badge">45</span></a>
	</section>
	<!-- 小型设备文章属性结束 -->

</div>

											<div class="article well clearfix">
		
	<div class="data-article hidden-xs">
		<span class="month">9月</span>
		<span class="day">29</span>
	</div>

	<!-- 大型设备文章属性 -->
	<section class="hidden-xs">
		<div class="title-article">
			<h1><a href="http://www.yeahzan.com/zanblog/archives/575.html">
				Zanblog 2.0.4 版本更新			</a></h1>
		</div>
		<div class="tag-article">
			<span class="label label-zan"><i class="fa fa-tags"></i> <a href="http://www.yeahzan.com/zanblog/archives/category/bootstrap" rel="category tag">Bootstrap3</a>,<a href="http://www.yeahzan.com/zanblog/archives/category/zanblog" rel="category tag">Zanblog</a></span>
			<span class="label label-zan"><i class="fa fa-user"></i> <a href="http://www.yeahzan.com/zanblog/archives/author/yeahzan" title="由佚站互联发布" rel="author">佚站互联</a></span>
			<span class="label label-zan"><i class="fa fa-eye"></i> 10,003</span>
		</div>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/575.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_6.jpg" class="attachment-full wp-post-image" alt="car_6" /></a></figure>							
			<div class="alert alert-zan">				
				HI，Zanblog再次更新了。
我们希望Zanblog能够满足大多数朋友对于博客的需求，所以我们会尽可能根据大家的反馈再对主题进行修改。
让我们一起看看 2.0.4 版本所做的变动吧！

1.通过HTML5对导航栏的固定状态进行本地存储，保证刷新页面之后该状态仍旧保留。
2.修正了...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more" href="http://www.yeahzan.com/zanblog/archives/575.html"  title="详细阅读 Zanblog 2.0.4 版本更新">阅读全文 <span class="badge">42</span></a>
	</section>
	<!-- 大型设备文章属性结束 -->

	<!-- 小型设备文章属性 -->
	<section class="visible-xs">
		<div class="title-article">
			<h4><a href="http://www.yeahzan.com/zanblog/archives/575.html">Zanblog 2.0.4 版本更新</a></h4>
		</div>
		<p>
			<i class="fa fa-calendar"></i> 9-29			<i class="fa fa-eye"></i> 10,003		</p>
		<div class="content-article">					
			<figure class="thumbnail"><a href="http://www.yeahzan.com/zanblog/archives/575.html"><img width="750" height="300" src="http://www.yeahzan.com/zanblog/wp-content/uploads/2013/09/car_6.jpg" class="attachment-full wp-post-image" alt="car_6" /></a></figure>							
			<div class="alert alert-zan">					
				HI，Zanblog再次更新了。
我们希望Zanblog能够满足大多数朋友对于博客的需求，所以我们会尽可能根据大家的反馈再对主题进行修改。
让我们一起看看 2.0.4 版本...			</div>
		</div>
		<a class="btn btn-danger pull-right read-more btn-block" href="http://www.yeahzan.com/zanblog/archives/575.html"  title="详细阅读 Zanblog 2.0.4 版本更新">阅读全文 <span class="badge">42</span></a>
	</section>
	<!-- 小型设备文章属性结束 -->

</div>

									</div>
				<!-- 内容主体结束 -->

				<!-- 广告 -->
		    		    <!-- 广告结束 -->

				<!-- 分页 -->
									<div id="zan-page" class="clearfix">
  <ul class="pagination pagination-zan pull-right">
    <li></li><li class='active'><span>1</span></li><li><a href='http://www.yeahzan.com/zanblog/page/2'>2</a></li><li><a href='http://www.yeahzan.com/zanblog/page/3'>3</a></li><li><a href='http://www.yeahzan.com/zanblog/page/4'>4</a></li><li><a href="http://www.yeahzan.com/zanblog/page/2" >&raquo;</a></li>  </ul>
</div>
								<!-- 分页结束 -->

			</div>

			<aside class="col-md-4" id="sidebar">
    <aside id="zan_login-2">        <div class="panel panel-zan">
      <div class="panel-heading"><i class="fa fa-quote-left"></i> 欢迎！ <i class="fa fa-quote-right"></i></div>
      <div class="login-panel text-center">
          <img alt='' src='http://cn.gravatar.com/avatar/b3050c21ca34ce417158ed02e4bcec03?s=60&amp;d=monsterid&amp;r=G' class='avatar avatar-60 photo' height='60' width='60' />          <a class="user-name" href="http://www.yeahzan.com/zanblog/wp-admin">JasonMM</a>
          <a class="btn btn-inverse-primary" href="http://www.yeahzan.com/zanblog/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fwww.yeahzan.com%2Fzanblog&amp;_wpnonce=a06592f9a7" title="退出登录">退出登录</a>
      </div>
    </div>
        </aside><aside id="zan_search-2">      <div class="search">
         <form class="form-inline clearfix" method="get" id="searchform" action="http://www.yeahzan.com/zanblog">
            <input class="form-control" type="text" name="s" id="s" placeholder="搜索..." />
            <button type="submit" class="btn btn-danger btn-small" name="submit" ><i class="fa fa-search"></i></button>
         </form>
      </div>
    </aside><aside id="zan_hotest_posts-2">      <div class="panel panel-zan hot hidden-xs">
        <div class="panel-heading">
          <i class="fa fa-fire"></i> 最热文章          <i class="fa fa-times-circle panel-remove"></i>
          <i class="fa fa-chevron-circle-up panel-toggle"></i>
        </div>
        <ul class="list-group list-group-flush">
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/763.html" title="Zanblog 2.0.7（稳定版）更新">
                Zanblog 2.0.7（稳定版）更新                </a>
              </span>
                            <span class="badge">56,641</span>
                          </li>
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/394.html" title="Zanblog常见问题汇总">
                Zanblog常见问题汇总                </a>
              </span>
                            <span class="badge">40,129</span>
                          </li>
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/457.html" title="Zanblog使用说明及插件设置">
                Zanblog使用说明及插件设置                </a>
              </span>
                            <span class="badge">38,986</span>
                          </li>
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/328.html" title="Zanblog侧边栏与菜单设置说明文档">
                Zanblog侧边栏与菜单设置说明文档                </a>
              </span>
                            <span class="badge">24,612</span>
                          </li>
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/685.html" title="Zanblog 2.0.6 版本更新">
                Zanblog 2.0.6 版本更新                </a>
              </span>
                            <span class="badge">17,179</span>
                          </li>
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/131.html" title="Zanblog主题说明与下载（旧）">
                Zanblog主题说明与下载（旧）                </a>
              </span>
                            <span class="badge">10,406</span>
                          </li>
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/531.html" title="Zanblog 2.0.3 版本更新">
                Zanblog 2.0.3 版本更新                </a>
              </span>
                            <span class="badge">7,782</span>
                          </li>
                      <li class="list-group-item">
              <span class="post-title">
                <a href="http://www.yeahzan.com/zanblog/archives/618.html" title="Zanblog 2.0.5 版本更新">
                Zanblog 2.0.5 版本更新                </a>
              </span>
                            <span class="badge">8,863</span>
                          </li>
                  </ul>
      </div>
    </aside><aside id="zan_latest_comments-2">
      <div class="panel panel-zan hidden-xs">
        <div class="panel-heading">
          <i class="fa fa-comments"></i> 最新评论          <i class="fa fa-times-circle panel-remove"></i>
          <i class="fa fa-chevron-circle-up panel-toggle"></i>
        </div>
        <ul class="list-group list-group-flush">
                      <li class="list-group-item">
              <span class="author-avatar"><img alt='' src='http://cn.gravatar.com/avatar/9836b1265103ed08e9860b9baabd8eae?s=40&amp;d=monsterid&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>
              <span class="comment-log">
                <a href="http://www.yeahzan.com/zanblog/message/comment-page-23#comment-2128">
                  你好！请问下位置首页文章表情下的阅读全文数量一直为0
能帮我看下吗谢谢！
我的...                </a>
              </span>
            </li>
                      <li class="list-group-item">
              <span class="author-avatar"><img alt='' src='http://cn.gravatar.com/avatar/9836b1265103ed08e9860b9baabd8eae?s=40&amp;d=monsterid&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>
              <span class="comment-log">
                <a href="http://www.yeahzan.com/zanblog/message/comment-page-23#comment-2129">
                  你好！请问下位置首页文章表情下的阅读全文数量一直为0
能帮我看下吗谢谢！
我的...                </a>
              </span>
            </li>
                      <li class="list-group-item">
              <span class="author-avatar"><img alt='' src='http://cn.gravatar.com/avatar/9836b1265103ed08e9860b9baabd8eae?s=40&amp;d=monsterid&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>
              <span class="comment-log">
                <a href="http://www.yeahzan.com/zanblog/archives/856.html/comment-page-1#comment-2127">
                  怎么设置手机不显示文章摘要                </a>
              </span>
            </li>
                      <li class="list-group-item">
              <span class="author-avatar"><img alt='' src='http://cn.gravatar.com/avatar/9f65d09b03095d6f08fbd27c422f4b68?s=40&amp;d=monsterid&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>
              <span class="comment-log">
                <a href="http://www.yeahzan.com/zanblog/message/comment-page-23#comment-2085">
                  今天看了在留言板里面找 用过zanblog 2 版本的 找了N久  所有上了网站的 居然都换...                </a>
              </span>
            </li>
                      <li class="list-group-item">
              <span class="author-avatar"><img alt='' src='http://cn.gravatar.com/avatar/9f65d09b03095d6f08fbd27c422f4b68?s=40&amp;d=monsterid&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>
              <span class="comment-log">
                <a href="http://www.yeahzan.com/zanblog/message/comment-page-23#comment-2086">
                  今天看了在留言板里面找 用过zanblog 2 版本的 找了N久  所有上了网站的 居然都换...                </a>
              </span>
            </li>
                      <li class="list-group-item">
              <span class="author-avatar"><img alt='' src='http://cn.gravatar.com/avatar/9f65d09b03095d6f08fbd27c422f4b68?s=40&amp;d=monsterid&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>
              <span class="comment-log">
                <a href="http://www.yeahzan.com/zanblog/message/comment-page-23#comment-2084">
                  为什么 我这边 点开 子分类的 文章  
标题上面主目录并没有 变成红色 也就是高亮...                </a>
              </span>
            </li>
                  </ul>
      </div>
    </aside><aside id="zan_sets-2">
    <div class="panel  panel-zan hidden-xs">
      <ul class="nav nav-pills pills-zan">
        <li class="active"><a href="#sidebar-categories" data-toggle="tab">分类目录</a></li>
        <li><a href="#sidebar-tags" data-toggle="tab">热门标签</a></li>
                <li><a href="#sidebar-links" data-toggle="tab">友情链接</a></li>
              </ul>
      <div class="tab-content">
        <div class="tab-pane active nav bs-sidenav fade in" id="sidebar-categories">	<li class="cat-item cat-item-21"><a href="http://www.yeahzan.com/zanblog/archives/category/bootstrap" >Bootstrap3</a>
</li>
	<li class="cat-item cat-item-17"><a href="http://www.yeahzan.com/zanblog/archives/category/wordpress" >WordPress</a>
</li>
	<li class="cat-item cat-item-29"><a href="http://www.yeahzan.com/zanblog/archives/category/zanblog" >Zanblog</a>
</li>
</div>
        <div class="tab-pane fade" id="sidebar-tags"><a href='http://www.yeahzan.com/zanblog/archives/tag/bootstrap' class='tag-link-21' title='2个话题' style="color:#6e4d3e;font-size: 10.204081632653pt;;">Bootstrap3</a>
<a href='http://www.yeahzan.com/zanblog/archives/tag/wordpress%e4%b8%bb%e9%a2%98' class='tag-link-22' title='4个话题' style="color:#b32ae3;font-size: 12.897959183673pt;;">WordPress</a>
<a href='http://www.yeahzan.com/zanblog/archives/tag/zanblog' class='tag-link-29' title='18个话题' style="color:#6da8e4;font-size: 20pt;;">Zanblog</a>
<a href='http://www.yeahzan.com/zanblog/archives/tag/zanui' class='tag-link-32' title='1个话题' style="color:#40b4df;font-size: 8pt;;">ZanUI</a>
<a href='http://www.yeahzan.com/zanblog/archives/tag/%e4%b8%bb%e9%a2%98%e8%ae%be%e7%bd%ae' class='tag-link-33' title='3个话题' style="color:#61d2ab;font-size: 11.673469387755pt;;">主题设置</a></div>
                <div class="tab-pane nav bs-sidenav fade" id="sidebar-links"><li><a href="http://www.yeahzan.com/course/81-bs-1-1.html" target="_blank">Bootstrap教程</a></li>
<li><a href="http://www.yeahzan.com/course/107-wp.html" target="_blank">WordPress教程</a></li>
<li><a href="http://www.zanwp.com/" title="杭州网站建设" target="_blank">杭州网站建设</a></li>
<li><a href="http://www.yeahzan.com/" title="杭州网站建设" target="_blank">网站建设</a></li>
</div>
              </div>
    </div>
    </aside>    </aside>		</div>
	</div>
</div>
<%- include('footer') %>
